n8n-workflow.json
{
  "name": "GLS Reparto",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-sheets",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa11bb22-cc33-dd44-ee55-ff6677889900",
      "name": "Webhook gls-sheets",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        100
      ],
      "webhookId": "a1a1a1a1-b2b2-c3c3-d4d4-e5e5e5e5e5e5"
    },
    {
      "parameters": {
        "jsCode": "const axios=require('axios');\nconst BASE='https://atlas.gls-spain.es';\nconst GLS_USER=$env.GLS_USER||'';\nconst GLS_PASS=$env.GLS_PASS||'';\nconst jar={};\nfunction sc(h){const v=h['set-cookie']||[];for(const c of(Array.isArray(v)?v:[v])){if(!c)continue;const p=c.split(';')[0].trim();const e=p.indexOf('=');if(e>0)jar[p.substring(0,e).trim()]=p;}}\nfunction ch(){return Object.values(jar).join('; ');}\nasync function req(method,url,opts,_rd){_rd=_rd||0;if(_rd>10)throw new Error('Demasiadas redirecciones');const h=(opts||{}).h||{};const body=(opts||{}).body||null;const hdrs=Object.assign({'User-Agent':'Mozilla/5.0'},h);const ck=ch();if(ck)hdrs['Cookie']=ck;const res=await axios.request({method:method,url:url,headers:hdrs,data:body,maxRedirects:0,validateStatus:function(){return true;},responseType:'text'});sc(res.headers);if([301,302,303,307,308].indexOf(res.status)>=0){const loc=res.headers.location;const next=loc&&loc.startsWith('http')?loc:BASE+loc;return req([301,302,303].indexOf(res.status)>=0?'GET':method,next,{h:h},_rd+1);}return{status:res.status,body:typeof res.data==='string'?res.data:JSON.stringify(res.data)};}\nfunction csrf(html){const m=html.match(/name=\"__RequestVerificationToken\"[^>]*value=\"([^\"]+)\"/);if(!m)throw new Error('CSRF no encontrado');return m[1];}\n\nconst r1=await req('GET',BASE+'/Account/Login');\nconst c1=csrf(r1.body);\n\nconst r2=await req('POST',BASE+'/Account/Login',{h:{'Content-Type':'application/x-www-form-urlencoded','Referer':BASE+'/Account/Login'},body:'Username='+encodeURIComponent(GLS_USER)+'&Password='+encodeURIComponent(GLS_PASS)+'&__RequestVerificationToken='+encodeURIComponent(c1)});\nif(r2.body.toLowerCase().includes('name=\"password\"'))throw new Error('Login fallido — credenciales incorrectas. Revisa GLS_USER y GLS_PASS.');\n\nconst r3=await req('GET',BASE+'/delivery/index');\nif(r3.body.toLowerCase().includes('<title>sign in'))throw new Error('delivery/index devuelve login — sesión no autenticada');\nconst c2=csrf(r3.body);\n\nconst hoy=new Date();\nconst fmt=d=>String(d.getDate()).padStart(2,'0')+'/'+String(d.getMonth()+1).padStart(2,'0')+'/'+d.getFullYear();\n\nconst r4=await req('POST',BASE+'/delivery/GetSummarySheets',{h:{'Content-Type':'application/x-www-form-urlencoded','X-Requested-With':'XMLHttpRequest','Accept':'application/json, text/javascript, */*; q=0.01','Referer':BASE+'/delivery/index'},body:'__RequestVerificationToken='+encodeURIComponent(c2)+'&filters%5Bsince%5D='+encodeURIComponent(fmt(new Date(hoy.getFullYear(),hoy.getMonth(),1)))+'&filters%5Buntil%5D='+encodeURIComponent(fmt(hoy))});\nlet raw=r4.body;\ntry{raw=JSON.parse(raw);}catch(e){}\n\nconst arr=(raw&&raw.data)||(raw&&raw.sheets)||(raw&&raw.hojas)||(raw&&raw.repartidores)||(Array.isArray(raw)?raw:[]);\nconst repartidores=arr.map(s=>({nombre:s.nombre||s.name||s.Name||s.driverName||s.Conductor||'Sin nombre',sheetCode:String(s.sheetCode||s.SheetCode||s.id||s.Id||''),placeCode:String(s.placeCode||s.PlaceCode||s.cp||s.postalCode||'')}));\n\nreturn [{json:{repartidores:repartidores,_status:r4.status,_raw:raw,_debug:{r1:r1.status,r2:r2.status,r3:r3.status}}}];"
      },
      "id": "bb22cc33-dd44-ee55-ff66-778899001122",
      "name": "Auth + GetSummarySheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "cc33dd44-ee55-ff66-7788-990011223344",
      "name": "Respond gls-sheets",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-excel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dd44ee55-ff66-7788-9900-112233445566",
      "name": "Webhook gls-excel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        360
      ],
      "webhookId": "b2b2b2b2-c3c3-d4d4-e5e5-f6f6f6f6f6f6"
    },
    {
      "parameters": {
        "jsCode": "const axios=require('axios');\nconst BASE='https://atlas.gls-spain.es';\nconst GLS_USER=$env.GLS_USER||'';\nconst GLS_PASS=$env.GLS_PASS||'';\nconst inp=$input.first().json.body||{};\nconst sheetCode=String(inp.sheetCode||'');\nconst placeCode=String(inp.placeCode||'');\nconst nombre=String(inp.nombre||'');\nconst jar={};\nfunction sc(h){const v=h['set-cookie']||[];for(const c of(Array.isArray(v)?v:[v])){if(!c)continue;const p=c.split(';')[0].trim();const e=p.indexOf('=');if(e>0)jar[p.substring(0,e).trim()]=p;}}\nfunction ch(){return Object.values(jar).join('; ');}\nasync function req(method,url,opts,_rd){_rd=_rd||0;if(_rd>10)throw new Error('Demasiadas redirecciones');const h=(opts||{}).h||{};const body=(opts||{}).body||null;const hdrs=Object.assign({'User-Agent':'Mozilla/5.0'},h);const ck=ch();if(ck)hdrs['Cookie']=ck;const res=await axios.request({method:method,url:url,headers:hdrs,data:body,maxRedirects:0,validateStatus:function(){return true;},responseType:'text'});sc(res.headers);if([301,302,303,307,308].indexOf(res.status)>=0){const loc=res.headers.location;const next=loc&&loc.startsWith('http')?loc:BASE+loc;return req([301,302,303].indexOf(res.status)>=0?'GET':method,next,{h:h},_rd+1);}return{status:res.status,body:typeof res.data==='string'?res.data:JSON.stringify(res.data)};}\nfunction csrf(html){const m=html.match(/name=\"__RequestVerificationToken\"[^>]*value=\"([^\"]+)\"/);if(!m)throw new Error('CSRF no encontrado');return m[1];}\n\nconst r1=await req('GET',BASE+'/Account/Login');\nconst c1=csrf(r1.body);\n\nconst r2=await req('POST',BASE+'/Account/Login',{h:{'Content-Type':'application/x-www-form-urlencoded','Referer':BASE+'/Account/Login'},body:'Username='+encodeURIComponent(GLS_USER)+'&Password='+encodeURIComponent(GLS_PASS)+'&__RequestVerificationToken='+encodeURIComponent(c1)});\nif(r2.body.toLowerCase().includes('name=\"password\"'))throw new Error('Login fallido — credenciales incorrectas. Revisa GLS_USER y GLS_PASS.');\n\nconst r3=await req('GET',BASE+'/delivery/index');\nif(r3.body.toLowerCase().includes('<title>sign in'))throw new Error('Sesión no válida');\nconst c2=csrf(r3.body);\n\nconst hoy=new Date();\nconst fmt=d=>String(d.getDate()).padStart(2,'0')+'/'+String(d.getMonth()+1).padStart(2,'0')+'/'+d.getFullYear();\n\nconst r4=await req('POST',BASE+'/delivery/GetDeliveryItems',{h:{'Content-Type':'application/x-www-form-urlencoded','X-Requested-With':'XMLHttpRequest','Accept':'application/json, text/javascript, */*; q=0.01','Referer':BASE+'/delivery/index'},body:'__RequestVerificationToken='+encodeURIComponent(c2)+'&sheetCode='+encodeURIComponent(sheetCode)+'&placeCode='+encodeURIComponent(placeCode)+'&filters%5Bsince%5D='+encodeURIComponent(fmt(new Date(hoy.getFullYear(),hoy.getMonth(),1)))+'&filters%5Buntil%5D='+encodeURIComponent(fmt(hoy))});\nlet raw=r4.body;\ntry{raw=JSON.parse(raw);}catch(e){}\nconst items=(raw&&raw.data)||(raw&&raw.items)||(raw&&raw.envios)||(Array.isArray(raw)?raw:[]);\n\nconst SERVICE_MAP={'10':{label:'10 HORAS',color:'#ef4444',premium:true},'96':{label:'24 HORAS',color:'#10b981',premium:false},'97':{label:'ECONOMY',color:'#6366f1',premium:false},'22':{label:'PARCEL',color:'#f59e0b',premium:false}};\n\nconst envios=items.map(function(i){const srvCode=String(i.srvCode||i.serviceCode||i.ServCode||'96');const srv=SERVICE_MAP[srvCode]||{label:'24 HORAS',color:'#10b981',premium:false};return{id:String(i.codexp||i.id||i.Id||i.codExp||''),conductor:nombre,cliente:String(i.destinatario||i.cliente||i.Destinatario||i.name||''),direccion:String(i.direccion||i.address||i.Direccion||''),localidad:String(i.localidad||i.city||i.Localidad||''),cp:String(i.cp||i.postalCode||i.CP||placeCode||''),estado:parseInt(i.eventoCodigo||i.estado||i.Status||6),bultos:parseInt(i.bultos||i.packages||1),kgs:parseFloat(i.kgs||i.weight||0),fPrevista:String(i.fPrevista||i.deliveryDate||fmt(hoy)),srvCode:srvCode,srvLabel:srv.label,srvColor:srv.color,isPremium:srv.premium,nota:String(i.nota||i.note||''),tieneNota:!!(i.nota||i.note)};});\n\nreturn [{json:{envios:envios,_status:r4.status,_raw:raw,_debug:{r1:r1.status,r2:r2.status,r3:r3.status}}}];"
      },
      "id": "ee55ff66-7788-9900-1122-334455667788",
      "name": "Auth + GetDeliveryItems",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ff667788-9900-1122-3344-556677889900",
      "name": "Respond gls-excel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        360
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-estados",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "00112233-4455-6677-8899-aabbccddeeff",
      "name": "Webhook gls-estados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        620
      ],
      "webhookId": "c3c3c3c3-d4d4-e5e5-f6f6-a7a7a7a7a7a7"
    },
    {
      "parameters": {
        "jsCode": "const axios=require('axios');\nconst BASE='https://atlas.gls-spain.es';\nconst GLS_USER=$env.GLS_USER||'';\nconst GLS_PASS=$env.GLS_PASS||'';\nconst jar={};\nfunction sc(h){const v=h['set-cookie']||[];for(const c of(Array.isArray(v)?v:[v])){if(!c)continue;const p=c.split(';')[0].trim();const e=p.indexOf('=');if(e>0)jar[p.substring(0,e).trim()]=p;}}\nfunction ch(){return Object.values(jar).join('; ');}\nasync function req(method,url,opts,_rd){_rd=_rd||0;if(_rd>10)throw new Error('Demasiadas redirecciones');const h=(opts||{}).h||{};const body=(opts||{}).body||null;const hdrs=Object.assign({'User-Agent':'Mozilla/5.0'},h);const ck=ch();if(ck)hdrs['Cookie']=ck;const res=await axios.request({method:method,url:url,headers:hdrs,data:body,maxRedirects:0,validateStatus:function(){return true;},responseType:'text'});sc(res.headers);if([301,302,303,307,308].indexOf(res.status)>=0){const loc=res.headers.location;const next=loc&&loc.startsWith('http')?loc:BASE+loc;return req([301,302,303].indexOf(res.status)>=0?'GET':method,next,{h:h},_rd+1);}return{status:res.status,body:typeof res.data==='string'?res.data:JSON.stringify(res.data)};}\nfunction csrf(html){const m=html.match(/name=\"__RequestVerificationToken\"[^>]*value=\"([^\"]+)\"/);if(!m)throw new Error('CSRF no encontrado');return m[1];}\n\nconst r1=await req('GET',BASE+'/Account/Login');\nconst c1=csrf(r1.body);\n\nconst r2=await req('POST',BASE+'/Account/Login',{h:{'Content-Type':'application/x-www-form-urlencoded','Referer':BASE+'/Account/Login'},body:'Username='+encodeURIComponent(GLS_USER)+'&Password='+encodeURIComponent(GLS_PASS)+'&__RequestVerificationToken='+encodeURIComponent(c1)});\nif(r2.body.toLowerCase().includes('name=\"password\"'))throw new Error('Login fallido — credenciales incorrectas. Revisa GLS_USER y GLS_PASS.');\n\nconst r3=await req('GET',BASE+'/delivery/index');\nif(r3.body.toLowerCase().includes('<title>sign in'))throw new Error('Sesión no válida');\nconst c2=csrf(r3.body);\n\nconst hoy=new Date();\nconst fmt=d=>String(d.getDate()).padStart(2,'0')+'/'+String(d.getMonth()+1).padStart(2,'0')+'/'+d.getFullYear();\n\nconst r4=await req('POST',BASE+'/delivery/GetSummarySheets',{h:{'Content-Type':'application/x-www-form-urlencoded','X-Requested-With':'XMLHttpRequest','Accept':'application/json, text/javascript, */*; q=0.01','Referer':BASE+'/delivery/index'},body:'__RequestVerificationToken='+encodeURIComponent(c2)+'&filters%5Bsince%5D='+encodeURIComponent(fmt(hoy))+'&filters%5Buntil%5D='+encodeURIComponent(fmt(hoy))});\nlet raw=r4.body;\ntry{raw=JSON.parse(raw);}catch(e){}\nconst items=(raw&&raw.data)||(raw&&raw.items)||(Array.isArray(raw)?raw:[]);\nconst updates=items.map(function(i){return{codexp:String(i.codexp||i.id||i.Id||''),eventoCodigo:String(i.eventoCodigo||i.estado||i.Status||6)};}).filter(function(i){return i.codexp;});\n\nreturn updates.length?updates.map(function(u){return{json:u};}):[{json:{codexp:'',eventoCodigo:'0'}}];"
      },
      "id": "11223344-5566-7788-99aa-bbccddeeff00",
      "name": "Auth + GetEstados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "22334455-6677-8899-aabb-ccddeeff0011",
      "name": "Respond gls-estados",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        620
      ]
    }
  ],
  "connections": {
    "Webhook gls-sheets": {
      "main": [
        [
          {
            "node": "Auth + GetSummarySheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth + GetSummarySheets": {
      "main": [
        [
          {
            "node": "Respond gls-sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook gls-excel": {
      "main": [
        [
          {
            "node": "Auth + GetDeliveryItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth + GetDeliveryItems": {
      "main": [
        [
          {
            "node": "Respond gls-excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook gls-estados": {
      "main": [
        [
          {
            "node": "Auth + GetEstados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth + GetEstados": {
      "main": [
        [
          {
            "node": "Respond gls-estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "gls-dashboard-v2",
  "tags": []
}