n8n-workflow.json
{
  "name": "GLS Reparto",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-excel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dd44ee55-ff66-7788-9900-112233445566",
      "name": "Webhook gls-excel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 100],
      "webhookId": "b2b2b2b2-c3c3-d4d4-e5e5-f6f6f6f6f6f6"
    },
    {
      "parameters": {
        "jsCode": "// GLS Atlas — login único + GetSummarySheets + ExportDeliverySheet por hoja\nconst axios = require('axios');\nlet XLSX; try { XLSX = require('xlsx'); } catch(e) { XLSX = null; }\n\nconst BASE     = 'https://atlas.gls-spain.es';\nconst GLS_USER = $env.GLS_USER || '';\nconst GLS_PASS = $env.GLS_PASS || '';\n\n// ── Cookie jar ──────────────────────────────────────────────────────────────\nconst jar = {};\nfunction saveCookies(headers) {\n  const raw = headers['set-cookie'] || [];\n  for (const c of (Array.isArray(raw) ? raw : [raw])) {\n    if (!c) continue;\n    const pair = c.split(';')[0].trim();\n    const eq   = pair.indexOf('=');\n    if (eq > 0) jar[pair.substring(0, eq).trim()] = pair;\n  }\n}\nfunction cookieHeader() { return Object.values(jar).join('; '); }\n\n// ── HTTP helper con redirect manual ─────────────────────────────────────────\nasync function req(method, url, opts, depth) {\n  depth = depth || 0;\n  if (depth > 12) throw new Error('Demasiadas redirecciones');\n  const extra   = opts || {};\n  const binary  = !!extra.binary;\n  const headers = Object.assign({ 'User-Agent': 'Mozilla/5.0' }, extra.h || {});\n  const ck = cookieHeader();\n  if (ck) headers['Cookie'] = ck;\n\n  const res = await axios.request({\n    method,\n    url,\n    headers,\n    data: extra.body || null,\n    maxRedirects: 0,\n    validateStatus: () => true,\n    responseType: binary ? 'arraybuffer' : 'text'\n  });\n  saveCookies(res.headers);\n\n  if ([301,302,303,307,308].includes(res.status)) {\n    const loc  = res.headers.location || '';\n    const next = loc.startsWith('http') ? loc : BASE + loc;\n    const meth = [301,302,303].includes(res.status) ? 'GET' : method;\n    return req(meth, next, { h: extra.h || {}, binary }, depth + 1);\n  }\n  if (binary) return { status: res.status, ct: res.headers['content-type'] || '', data: Buffer.from(res.data) };\n  return { status: res.status, body: typeof res.data === 'string' ? res.data : JSON.stringify(res.data) };\n}\n\nfunction csrf(html) {\n  const m = html.match(/name=\"__RequestVerificationToken\"[^>]*value=\"([^\"]+)\"/);\n  if (!m) throw new Error('Token CSRF no encontrado');\n  return m[1];\n}\n\nconst hoy  = new Date();\nconst fmt  = d => String(d.getDate()).padStart(2,'0') + '/' + String(d.getMonth()+1).padStart(2,'0') + '/' + d.getFullYear();\nconst desde = fmt(new Date(hoy.getFullYear(), hoy.getMonth(), 1));\nconst hasta  = fmt(hoy);\n\n// ── 1. Login ─────────────────────────────────────────────────────────────────\nconst rLogin = await req('GET', BASE + '/Account/Login');\nconst csrf1  = csrf(rLogin.body);\nconst rPost  = await req('POST', BASE + '/Account/Login', {\n  h: { 'Content-Type': 'application/x-www-form-urlencoded', 'Referer': BASE + '/Account/Login' },\n  body: 'Username=' + encodeURIComponent(GLS_USER) +\n        '&Password=' + encodeURIComponent(GLS_PASS) +\n        '&__RequestVerificationToken=' + encodeURIComponent(csrf1)\n});\nif (rPost.body.toLowerCase().includes('name=\"password\"'))\n  throw new Error('Login fallido — revisa GLS_USER y GLS_PASS en las variables de n8n');\n\n// ── 2. delivery/index → CSRF para las llamadas POST ──────────────────────────\nconst rIdx = await req('GET', BASE + '/delivery/index');\nif (rIdx.body.toLowerCase().includes('<title>sign in'))\n  throw new Error('Sesión inválida tras login');\nconst csrf2 = csrf(rIdx.body);\n\nconst postH = {\n  'Content-Type':    'application/x-www-form-urlencoded',\n  'X-Requested-With':'XMLHttpRequest',\n  'Accept':          'application/json, text/javascript, */*; q=0.01',\n  'Referer':         BASE + '/delivery/index'\n};\nconst tokenParam = '__RequestVerificationToken=' + encodeURIComponent(csrf2);\nconst dateParams = '&filters%5Bsince%5D=' + encodeURIComponent(desde) + '&filters%5Buntil%5D=' + encodeURIComponent(hasta);\n\n// ── 3. Obtener hojas del día ──────────────────────────────────────────────────\nconst rSheets = await req('POST', BASE + '/delivery/GetSummarySheets', { h: postH, body: tokenParam + dateParams });\nlet sheetsRaw = rSheets.body;\ntry { sheetsRaw = JSON.parse(sheetsRaw); } catch(e) {}\nconst hojas = ((sheetsRaw && sheetsRaw.Data && sheetsRaw.Data.List) || [])\n  .filter(s => s.SheetCode != null && s.DealerCode && s.DealerCode < 9000);\n\nif (!hojas.length) return [{ json: { envios: [], hojas: 0, errores: ['Sin hojas asignadas hoy'], _debug: { sheetsStatus: rSheets.status } } }];\n\n// ── Mapeo de servicios ────────────────────────────────────────────────────────\nconst SRV = {\n  '0':  { label:'10 HORAS',    color:'#f59e0b', premium:true  },\n  '2':  { label:'VALIJA',      color:'#f97316', premium:true  },\n  '92': { label:'PARCEL',      color:'#3b82f6', premium:false },\n  '10': { label:'RETORNO',     color:'#f97316', premium:false },\n  '37': { label:'ECONOMY',     color:'#94a3b8', premium:false },\n  '96': { label:'24 HORAS',    color:'#10b981', premium:true  },\n  '97': { label:'PARCEL',      color:'#3b82f6', premium:false },\n  '98': { label:'ENTREGA HOY', color:'#10b981', premium:true  },\n  '1':  { label:'19 HORAS',    color:'#6366f1', premium:false },\n};\nfunction srv(code) { return SRV[String(code)] || { label: String(code) || 'STD', color: '#64748b', premium: false }; }\n\nconst envios  = [];\nconst errores = [];\n\n// ── 4. Por cada hoja: Excel → fallback JSON ───────────────────────────────────\nfor (const hoja of hojas) {\n  const sheetP = '&sheetCode=' + encodeURIComponent(String(hoja.SheetCode)) +\n                 '&placeCode='  + encodeURIComponent(String(hoja.PlaceCode || ''));\n  let ok = false;\n\n  // 4a. Intentar descarga Excel\n  if (XLSX) {\n    try {\n      const rXls = await req('POST', BASE + '/delivery/ExportDeliverySheet',\n        { h: { ...postH }, body: tokenParam + sheetP + dateParams, binary: true });\n      const ct = (rXls.ct || '').toLowerCase();\n      const isXls = ct.includes('spreadsheet') || ct.includes('excel') ||\n                    ct.includes('openxmlformats') || ct.includes('octet-stream');\n      if (rXls.status === 200 && isXls && rXls.data && rXls.data.length > 100) {\n        const wb   = XLSX.read(rXls.data, { type: 'buffer' });\n        const ws   = wb.Sheets[wb.SheetNames[0]];\n        const rows = XLSX.utils.sheet_to_json(ws, { defval: '' });\n        for (const row of rows) {\n          const k = {};\n          for (const key of Object.keys(row)) {\n            const norm = key.toLowerCase().replace(/\\s+/g,'').normalize('NFD').replace(/[\\u0300-\\u036f]/g,'');\n            k[norm] = row[key];\n          }\n          const id = String(k['codexp'] || k['codigoenvio'] || k['nenvio'] || '').trim();\n          if (!id) continue;\n          const srvCode = String(k['servicio'] || k['codservicio'] || k['tiposervicio'] || '96');\n          const s = srv(srvCode);\n          const nota = String(k['nota'] || k['observaciones'] || k['observ'] || '');\n          envios.push({\n            id, conductor: hoja.Dealer,\n            cliente:   String(k['destinatario'] || k['cliente'] || ''),\n            direccion: String(k['direccion']    || k['domicilio'] || ''),\n            localidad: String(k['localidad']    || k['poblacion'] || ''),\n            cp:        String(k['cp'] || k['codigopostal'] || String(hoja.PlaceCode) || ''),\n            estado:    parseInt(k['estado'] || k['eventococigo'] || 6) || 6,\n            bultos:    parseInt(k['bultos'] || 1) || 1,\n            kgs:       parseFloat(k['kgs'] || k['peso'] || 0) || 0,\n            fPrevista: String(k['fprevista'] || k['fechaprevista'] || fmt(hoy)),\n            srvCode, srvLabel: s.label, srvColor: s.color, isPremium: s.premium,\n            nota, tieneNota: nota.length > 2\n          });\n        }\n        ok = true;\n      }\n    } catch(e) {\n      errores.push({ sheetCode: hoja.SheetCode, dealer: hoja.Dealer, info: 'Excel error: ' + e.message });\n    }\n  }\n\n  // 4b. Fallback: GetDeliveryItems JSON\n  if (!ok) {\n    try {\n      const rJ = await req('POST', BASE + '/delivery/GetDeliveryItems',\n        { h: { ...postH }, body: tokenParam + sheetP + dateParams });\n      let jr = rJ.body;\n      try { jr = JSON.parse(jr); } catch(e) {}\n      const items = (jr && jr.Data && jr.Data.List) || (Array.isArray(jr) ? jr : []);\n      for (const i of items) {\n        const id = String(i.CodExp || i.codexp || i.Id || '').trim();\n        if (!id) continue;\n        const srvCode = String(i.CodServicio || i.codservicio || i.ServCode || '96');\n        const s = srv(srvCode);\n        const nota = String(i.Observ || i.observ || i.Nota || '');\n        envios.push({\n          id, conductor: hoja.Dealer,\n          cliente:   String(i.Destinatario  || i.destinatario  || ''),\n          direccion: String(i.Direccion     || i.direccion     || ''),\n          localidad: String(i.Localidad     || i.localidad     || ''),\n          cp:        String(i.CP || i.Cp || String(hoja.PlaceCode) || ''),\n          estado:    parseInt(i.EventoCodigo || i.eventoCodigo || 6) || 6,\n          bultos:    parseInt(i.Bultos || i.bultos || 1) || 1,\n          kgs:       parseFloat(i.Kgs || i.kgs || 0) || 0,\n          fPrevista: String(i.FPreviEntrega || i.fPreviEntrega || fmt(hoy)),\n          srvCode, srvLabel: s.label, srvColor: s.color, isPremium: s.premium,\n          nota, tieneNota: nota.length > 2\n        });\n      }\n      if (!ok && items.length === 0)\n        errores.push({ sheetCode: hoja.SheetCode, dealer: hoja.Dealer, info: 'Sin datos en JSON API' });\n    } catch(e) {\n      errores.push({ sheetCode: hoja.SheetCode, dealer: hoja.Dealer, error: e.message });\n    }\n  }\n}\n\nreturn [{ json: {\n  envios,\n  hojas:  hojas.length,\n  errores,\n  _debug: { total: envios.length, hojas: hojas.length, xlsxAvailable: !!XLSX }\n} }];"
      },
      "id": "ee55ff66-7788-9900-1122-334455667788",
      "name": "GLS Atlas — Login + Hojas + Excel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ff667788-9900-1122-3344-556677889900",
      "name": "Respond gls-excel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 100]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-estados",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "00112233-4455-6677-8899-aabbccddeeff",
      "name": "Webhook gls-estados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 360],
      "webhookId": "c3c3c3c3-d4d4-e5e5-f6f6-a7a7a7a7a7a7"
    },
    {
      "parameters": {
        "jsCode": "// Refresca solo los estados de los envíos ya cargados (login mínimo)\nconst axios = require('axios');\nconst BASE     = 'https://atlas.gls-spain.es';\nconst GLS_USER = $env.GLS_USER || '';\nconst GLS_PASS = $env.GLS_PASS || '';\n\nconst jar = {};\nfunction saveCookies(headers) {\n  const raw = headers['set-cookie'] || [];\n  for (const c of (Array.isArray(raw) ? raw : [raw])) {\n    if (!c) continue;\n    const pair = c.split(';')[0].trim();\n    const eq   = pair.indexOf('=');\n    if (eq > 0) jar[pair.substring(0, eq).trim()] = pair;\n  }\n}\nfunction cookieHeader() { return Object.values(jar).join('; '); }\n\nasync function req(method, url, opts, depth) {\n  depth = depth || 0;\n  if (depth > 12) throw new Error('Demasiadas redirecciones');\n  const extra   = opts || {};\n  const headers = Object.assign({ 'User-Agent': 'Mozilla/5.0' }, extra.h || {});\n  const ck = cookieHeader();\n  if (ck) headers['Cookie'] = ck;\n  const res = await axios.request({\n    method, url, headers, data: extra.body || null,\n    maxRedirects: 0, validateStatus: () => true, responseType: 'text'\n  });\n  saveCookies(res.headers);\n  if ([301,302,303,307,308].includes(res.status)) {\n    const loc  = res.headers.location || '';\n    const next = loc.startsWith('http') ? loc : BASE + loc;\n    return req([301,302,303].includes(res.status) ? 'GET' : method, next, extra, depth + 1);\n  }\n  return { status: res.status, body: typeof res.data === 'string' ? res.data : JSON.stringify(res.data) };\n}\nfunction csrf(html) {\n  const m = html.match(/name=\"__RequestVerificationToken\"[^>]*value=\"([^\"]+)\"/);\n  if (!m) throw new Error('Token CSRF no encontrado');\n  return m[1];\n}\n\nconst hoy  = new Date();\nconst fmt  = d => String(d.getDate()).padStart(2,'0') + '/' + String(d.getMonth()+1).padStart(2,'0') + '/' + d.getFullYear();\n\nconst r1 = await req('GET', BASE + '/Account/Login');\nconst c1 = csrf(r1.body);\nconst r2 = await req('POST', BASE + '/Account/Login', {\n  h: { 'Content-Type': 'application/x-www-form-urlencoded', 'Referer': BASE + '/Account/Login' },\n  body: 'Username=' + encodeURIComponent(GLS_USER) + '&Password=' + encodeURIComponent(GLS_PASS) + '&__RequestVerificationToken=' + encodeURIComponent(c1)\n});\nif (r2.body.toLowerCase().includes('name=\"password\"')) throw new Error('Login fallido');\n\nconst r3 = await req('GET', BASE + '/delivery/index');\nconst c2 = csrf(r3.body);\n\nconst r4 = await req('POST', BASE + '/delivery/GetSummarySheets', {\n  h: { 'Content-Type': 'application/x-www-form-urlencoded', 'X-Requested-With': 'XMLHttpRequest', 'Accept': 'application/json, text/javascript, */*; q=0.01', 'Referer': BASE + '/delivery/index' },\n  body: '__RequestVerificationToken=' + encodeURIComponent(c2) + '&filters%5Bsince%5D=' + encodeURIComponent(fmt(hoy)) + '&filters%5Buntil%5D=' + encodeURIComponent(fmt(hoy))\n});\nlet raw = r4.body;\ntry { raw = JSON.parse(raw); } catch(e) {}\nconst items = (raw && raw.Data && raw.Data.List) || (Array.isArray(raw) ? raw : []);\nconst updates = items\n  .map(i => ({ codexp: String(i.CodExp || i.codexp || i.Id || ''), eventoCodigo: String(i.EventoCodigo || i.eventoCodigo || 6) }))\n  .filter(i => i.codexp);\n\nreturn updates.length ? updates.map(u => ({ json: u })) : [{ json: { codexp: '', eventoCodigo: '0' } }];"
      },
      "id": "11223344-5566-7788-99aa-bbccddeeff00",
      "name": "GLS Atlas — Actualizar estados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 360]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "22334455-6677-8899-aabb-ccddeeff0011",
      "name": "Respond gls-estados",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 360]
    }
  ],
  "connections": {
    "Webhook gls-excel": {
      "main": [[{ "node": "GLS Atlas — Login + Hojas + Excel", "type": "main", "index": 0 }]]
    },
    "GLS Atlas — Login + Hojas + Excel": {
      "main": [[{ "node": "Respond gls-excel", "type": "main", "index": 0 }]]
    },
    "Webhook gls-estados": {
      "main": [[{ "node": "GLS Atlas — Actualizar estados", "type": "main", "index": 0 }]]
    },
    "GLS Atlas — Actualizar estados": {
      "main": [[{ "node": "Respond gls-estados", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "gls-dashboard-v3",
  "tags": []
}
